PaginasSecundarias/Eventos/Eventos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eventos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evento" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            
                            <xs:element name="Título">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="Ubicación">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="Descripción">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="FechaIni" type="tipoFechaES"/>
                            
                            <xs:element name="FechaFin" type="tipoFechaES"/>

                            <xs:element name="HoraIni" type="tipoHora"/>

                            <xs:element name="HoraFin" type="tipoHora"/>

                        </xs:sequence>

                        <xs:attribute name="IDEve" type="xs:integer" use="required"/>
                        
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="tipoFechaES">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}/\d{2}/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoHora">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}:\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>